/* BELOW 1200px ( Taplets ) */
/* ********************************** */
@media (max-width: 1200px) {
  html {
    font-size: 70%;
  }
  h1 {
    font-size: 3.8rem;
  }
  .btn--show-modal {
    color: black !important;
  }
  .operations__tab {
    color: black !important;
  }
}
@media (max-width: 1050px) {
  .header__title {
    /* display: flex;
    flex-direction: column;
    gap: 70px;
    align-items: center; */
    display: grid;
    grid-template-columns: 3fr;
    gap: 100px;
    justify-items: center;
  }
  .header__img {
    width: 50%;
  }
  .box2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .box2 button {
    display: none;
  }
  h1 {
    font-size: 5.8rem;
  }
  .features {
    display: grid;
    grid-template-columns: 2fr;
    gap: 70px;
  }
  .img2 {
    grid-row: 3;
  }
  .features__feature p {
    width: 140%;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .nav__links {
    background-color: rgba(255, 255, 255, 0.97);
    position: absolute;
    top: 0;
    left: 0;
    /* width: 100%; */
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* Hide navigation */
    /* Allows NO transitions at all */
    /* display: none; */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }
  .nav-open ul {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    width: 100%;
    transform: translateX(0);
  }
  .btn-mobile-nav {
    display: block;
  }

  .nav-open .icon-mobile-nav[name='close-outline'] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name='menu-outline'] {
    display: none;
  }

  .nav__links {
    flex-direction: column;
    gap: 4.8rem;
    font-weight: 800;
    color: black;
  }
  .nav__link:link,
  .nav__link:visited {
    font-size: 3rem;
  }
  .nav {
    padding: 0;
  }
}
@media (max-width: 950px) {
  .btn {
    font-size: 1.3rem;
    padding: 1.25rem 3.5rem;
  }
}
@media (max-width: 780px) {
  html {
    font-size: 60%;
  }
}
@media (max-width: 670px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 560px) {
  html {
    font-size: 40%;
  }
  .header {
    height: 80vh;
  }
  .header__img {
    width: 70%;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 32%;
  }
  .box h4 {
    font-size: 4rem;
  }
  p,
  h5 {
    font-size: 2.6rem !important;
  }
  p {
    opacity: 0.8;
  }
  blockquote {
    font-size: 2rem !important;
  }
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  .slide {
    height: 60%;
  }
  .testimonial__text {
    text-align: center;
  }
  .dots {
    bottom: 0;
  }
  .features {
    margin: 0 3rem;
    padding: 0 2rem;
  }
  .operations__content--active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 360px) {
  html {
    font-size: 28%;
  }
  .features {
    margin: 0 0;
    padding: 0 1rem;
  }
  .features__feature {
    margin-left: -50px;
  }
  .operations__tab {
    padding: 1rem 1.2rem;
  }
}
@media (max-width: 260px) {
  html {
    font-size: 25%;
  }
  .header__title {
    margin-top: 30px;
  }
  .footer {
    margin-right: -10px;
  }
}
